MAKE IT SO PEOPLE CAN CHOOSE WHAT THEY WANT TO SUBMIT IN THE FIRST PLACE
CREATE PREVIEW PAGE BEFORE SUBMISSION
ALLOW USER TO BACK AND EDIT DATA
ALLOW USERS TO EMAIL BRIAN TO GET PASSWORD
SHOW WHICH USER SUBMITTIED WHAT

<div class="entry-container">
  <hymn-header></hymn-header>
  <div class="entry-body row">
    <div class="col-md-6 offset-md-3">
      <div class="card">

        <div class="card-header">
          Please log in
        </div>

        <div class="card-block">

          <form name="loginForm"
            (ngSubmit)="login()"
            #loginForm="ngForm"
            *ngIf="user">

          <div class="form-group">
            <label for="userEmail">Email</label>
            <input type="text" 
              name="email" 
              id="userEmail" 
              class="form-control"               
              [(ngModel)]="user.email" 
              #userEmail="ngModel"
              name="userEmail"
              required/>

            <div class="alert alert-danger" *ngIf="userEmail.errors && userEmail.touched">
                <ul>
                    <li [hidden]="!userEmail.errors.required">
                        Email is required
                    </li>
                    <li [hidden]="!userEmail.errors.pattern">
                        Email is not valid
                    </li>
                </ul>
                </div>
            </div>          

          <div class="form-group">
            <label for="userPassword">Password</label>
            <input type="password"
              name= "password" 
              id="userPassword" 
              class="form-control"
              [(ngModel)]="user.password" 
              #userPassword="ngModel"
              name="userPassword"
              required/>

            <div class="alert alert-danger" *ngIf="userPassword.errors && userPassword.touched">
                <ul>
                    <li [hidden]="!userPassword.errors.required">
                        Password is required
                    </li>
                    <li [hidden]="!userPassword.errors.pattern">
                        Password is not valid
                    </li>
                </ul>
            </div>   
            </div>       

          <div class="col-md-12">
            <button type="submit"
             class="btn btn-block btn-info" 
             [disabled]="loginForm.invalid">
            Next
            </button>
            <button class="btn btn-block" routerLink="/">
            Return to home
            </button>
          </div>

          </form>

        </div> <!--end card-block-->
      </div> <!--end card-->
    </div>
  </div>
</div>