<h1>ADD USER</h1>

<form action="/adduser" method="POST">
    <label for="username">Username</label>
    <input type="text" name="username" title="Username" id="username"/>

    <label for="password">Password</label>
    <input type="password" name="password" title="Password" id="password" />

    <label for="firstname">First Name</label>
    <input type="firstname" name="firstname" title="firstname" id="firstname" />

    <label for="lastname">Last Name</label>
    <input type="lastname" name="lastname" title="lastname" id="lastname" />

    <input type="submit" value="Add User" />
</form>