a {
    color:shade(darkslategray, 50%);
    text-decoration:none;
    border-bottom:1px solid transparent;
    transition:
      color ease .35s,
      border-bottom-color ease .35s;
}

.right {
  position:relative;
  margin-left:75px;
  transition:margin-left ease .5s;
}

.left {
  position:fixed;
  padding: 10px;
  top: 0; left: 0; 
  height:100%; width:100px;
  background:darkslategray;
  transition: width ease .5s;
}